Hoggy/TestConsoleClient/Connected Services/FileExchangeService/fileExchangeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5001/fileExchangeService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:import schemaLocation="http://localhost:5001/fileExchangeService?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetImageRequestMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" name="Token" nillable="true" type="q1:AuthenticationToken" />
  <xs:element name="UserId" type="xs:int" />
  <xs:element name="GetImageResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="FileByteStream" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Length" type="xs:long" />
  <xs:element name="AddImageRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="FileByteStream" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>