Hoggy/TestConsoleClient/Connected Services/FileExchangeService/FileExchangeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileExchangeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="fileExchangePoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5001/fileExchangeService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5001/fileExchangeService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5001/fileExchangeService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
      <xsd:import schemaLocation="http://localhost:5001/fileExchangeService?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetImageRequestMessage">
    <wsdl:part name="parameters" element="tns:GetImageRequestMessage" />
  </wsdl:message>
  <wsdl:message name="GetImageRequestMessage_Headers">
    <wsdl:part name="Token" element="tns:Token" />
    <wsdl:part name="UserId" element="tns:UserId" />
  </wsdl:message>
  <wsdl:message name="GetImageResponseMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponseMessage" />
  </wsdl:message>
  <wsdl:message name="GetImageResponseMessage_Headers">
    <wsdl:part name="Length" element="tns:Length" />
  </wsdl:message>
  <wsdl:message name="AddImageRequestMessage">
    <wsdl:part name="parameters" element="tns:AddImageRequestMessage" />
  </wsdl:message>
  <wsdl:message name="AddImageRequestMessage_Headers">
    <wsdl:part name="Length" element="tns:Length" />
    <wsdl:part name="Token" element="tns:Token" />
  </wsdl:message>
  <wsdl:portType name="IFileExchangeContract">
    <wsdl:operation name="GetUserProfileImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileExchangeContract/GetUserProfileImage" name="GetImageRequestMessage" message="tns:GetImageRequestMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileExchangeContract/GetUserProfileImageResponse" name="GetImageResponseMessage" message="tns:GetImageResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUserProfileImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileExchangeContract/SetUserProfileImage" name="AddImageRequestMessage" message="tns:AddImageRequestMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="fileExchangePoint" type="tns:IFileExchangeContract">
    <wsp:PolicyReference URI="#fileExchangePoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetUserProfileImage">
      <soap12:operation soapAction="http://tempuri.org/IFileExchangeContract/GetUserProfileImage" style="document" />
      <wsdl:input name="GetImageRequestMessage">
        <soap12:header message="tns:GetImageRequestMessage_Headers" part="Token" use="literal" />
        <soap12:header message="tns:GetImageRequestMessage_Headers" part="UserId" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetImageResponseMessage">
        <soap12:header message="tns:GetImageResponseMessage_Headers" part="Length" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserProfileImage">
      <soap12:operation soapAction="http://tempuri.org/IFileExchangeContract/SetUserProfileImage" style="document" />
      <wsdl:input name="AddImageRequestMessage">
        <soap12:header message="tns:AddImageRequestMessage_Headers" part="Length" use="literal" />
        <soap12:header message="tns:AddImageRequestMessage_Headers" part="Token" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileExchangeService">
    <wsdl:port name="fileExchangePoint" binding="tns:fileExchangePoint">
      <soap12:address location="net.tcp://localhost:5002/fileExchangeService/fileExchange" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:5002/fileExchangeService/fileExchange</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>