Hoggy/PresentationLayer/Connected Services/CommunityService/CommunityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommunityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="communityPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5001/communityService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5001/communityService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5001/communityService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommunityContract_SendInvitation_InputMessage">
    <wsdl:part name="parameters" element="tns:SendInvitation" />
  </wsdl:message>
  <wsdl:message name="ICommunityContract_SendInvitation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendInvitationResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunityContract_AcceptInvitation_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptInvitation" />
  </wsdl:message>
  <wsdl:message name="ICommunityContract_AcceptInvitation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcceptInvitationResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunityContract_PostComment_InputMessage">
    <wsdl:part name="parameters" element="tns:PostComment" />
  </wsdl:message>
  <wsdl:message name="ICommunityContract_PostComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunityContract_SubscribeToCard_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeToCard" />
  </wsdl:message>
  <wsdl:message name="ICommunityContract_SubscribeToCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeToCardResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunityContract_AddTagToCard_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTagToCard" />
  </wsdl:message>
  <wsdl:message name="ICommunityContract_AddTagToCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTagToCardResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommunityContract">
    <wsdl:operation name="SendInvitation">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommunityContract/SendInvitation" message="tns:ICommunityContract_SendInvitation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommunityContract/SendInvitationResponse" message="tns:ICommunityContract_SendInvitation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptInvitation">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommunityContract/AcceptInvitation" message="tns:ICommunityContract_AcceptInvitation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommunityContract/AcceptInvitationResponse" message="tns:ICommunityContract_AcceptInvitation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommunityContract/PostComment" message="tns:ICommunityContract_PostComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommunityContract/PostCommentResponse" message="tns:ICommunityContract_PostComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeToCard">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommunityContract/SubscribeToCard" message="tns:ICommunityContract_SubscribeToCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommunityContract/SubscribeToCardResponse" message="tns:ICommunityContract_SubscribeToCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTagToCard">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommunityContract/AddTagToCard" message="tns:ICommunityContract_AddTagToCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommunityContract/AddTagToCardResponse" message="tns:ICommunityContract_AddTagToCard_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="communityPoint" type="tns:ICommunityContract">
    <wsp:PolicyReference URI="#communityPoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SendInvitation">
      <soap12:operation soapAction="http://tempuri.org/ICommunityContract/SendInvitation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptInvitation">
      <soap12:operation soapAction="http://tempuri.org/ICommunityContract/AcceptInvitation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostComment">
      <soap12:operation soapAction="http://tempuri.org/ICommunityContract/PostComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeToCard">
      <soap12:operation soapAction="http://tempuri.org/ICommunityContract/SubscribeToCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTagToCard">
      <soap12:operation soapAction="http://tempuri.org/ICommunityContract/AddTagToCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommunityService">
    <wsdl:port name="communityPoint" binding="tns:communityPoint">
      <soap12:address location="net.tcp://localhost:5002/communityService/community" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:5002/communityService/community</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>