Hoggy/TestConsoleClient/Connected Services/DeletionService/DeletionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeletionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="deletionPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5001/deletionService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5001/deletionService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5001/deletionService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeletionContract_DeleteBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBoard" />
  </wsdl:message>
  <wsdl:message name="IDeletionContract_DeleteBoard_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBoardResponse" />
  </wsdl:message>
  <wsdl:message name="IDeletionContract_DeleteBoardTag_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBoardTag" />
  </wsdl:message>
  <wsdl:message name="IDeletionContract_DeleteBoardTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBoardTagResponse" />
  </wsdl:message>
  <wsdl:message name="IDeletionContract_DeleteColumn_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteColumn" />
  </wsdl:message>
  <wsdl:message name="IDeletionContract_DeleteColumn_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteColumnResponse" />
  </wsdl:message>
  <wsdl:message name="IDeletionContract_DeleteCard_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCard" />
  </wsdl:message>
  <wsdl:message name="IDeletionContract_DeleteCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCardResponse" />
  </wsdl:message>
  <wsdl:message name="IDeletionContract_DeleteCardTag_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCardTag" />
  </wsdl:message>
  <wsdl:message name="IDeletionContract_DeleteCardTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCardTagResponse" />
  </wsdl:message>
  <wsdl:portType name="IDeletionContract">
    <wsdl:operation name="DeleteBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeletionContract/DeleteBoard" message="tns:IDeletionContract_DeleteBoard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeletionContract/DeleteBoardResponse" message="tns:IDeletionContract_DeleteBoard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBoardTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeletionContract/DeleteBoardTag" message="tns:IDeletionContract_DeleteBoardTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeletionContract/DeleteBoardTagResponse" message="tns:IDeletionContract_DeleteBoardTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteColumn">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeletionContract/DeleteColumn" message="tns:IDeletionContract_DeleteColumn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeletionContract/DeleteColumnResponse" message="tns:IDeletionContract_DeleteColumn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeletionContract/DeleteCard" message="tns:IDeletionContract_DeleteCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeletionContract/DeleteCardResponse" message="tns:IDeletionContract_DeleteCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCardTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeletionContract/DeleteCardTag" message="tns:IDeletionContract_DeleteCardTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeletionContract/DeleteCardTagResponse" message="tns:IDeletionContract_DeleteCardTag_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="deletionPoint" type="tns:IDeletionContract">
    <wsp:PolicyReference URI="#deletionPoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="DeleteBoard">
      <soap12:operation soapAction="http://tempuri.org/IDeletionContract/DeleteBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBoardTag">
      <soap12:operation soapAction="http://tempuri.org/IDeletionContract/DeleteBoardTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteColumn">
      <soap12:operation soapAction="http://tempuri.org/IDeletionContract/DeleteColumn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCard">
      <soap12:operation soapAction="http://tempuri.org/IDeletionContract/DeleteCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCardTag">
      <soap12:operation soapAction="http://tempuri.org/IDeletionContract/DeleteCardTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeletionService">
    <wsdl:port name="deletionPoint" binding="tns:deletionPoint">
      <soap12:address location="net.tcp://localhost:5002/deletionService/deletion" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:5002/deletionService/deletion</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>