Hoggy/TestConsoleClient/Connected Services/CreationService/CreationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CreationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="creationPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5001/creationService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5001/creationService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5001/creationService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICreationContract_AddBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBoard" />
  </wsdl:message>
  <wsdl:message name="ICreationContract_AddBoard_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBoardResponse" />
  </wsdl:message>
  <wsdl:message name="ICreationContract_AddColumn_InputMessage">
    <wsdl:part name="parameters" element="tns:AddColumn" />
  </wsdl:message>
  <wsdl:message name="ICreationContract_AddColumn_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddColumnResponse" />
  </wsdl:message>
  <wsdl:message name="ICreationContract_AddCard_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCard" />
  </wsdl:message>
  <wsdl:message name="ICreationContract_AddCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCardResponse" />
  </wsdl:message>
  <wsdl:portType name="ICreationContract">
    <wsdl:operation name="AddBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreationContract/AddBoard" message="tns:ICreationContract_AddBoard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreationContract/AddBoardResponse" message="tns:ICreationContract_AddBoard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddColumn">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreationContract/AddColumn" message="tns:ICreationContract_AddColumn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreationContract/AddColumnResponse" message="tns:ICreationContract_AddColumn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCard">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreationContract/AddCard" message="tns:ICreationContract_AddCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreationContract/AddCardResponse" message="tns:ICreationContract_AddCard_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="creationPoint" type="tns:ICreationContract">
    <wsp:PolicyReference URI="#creationPoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddBoard">
      <soap12:operation soapAction="http://tempuri.org/ICreationContract/AddBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddColumn">
      <soap12:operation soapAction="http://tempuri.org/ICreationContract/AddColumn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCard">
      <soap12:operation soapAction="http://tempuri.org/ICreationContract/AddCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreationService">
    <wsdl:port name="creationPoint" binding="tns:creationPoint">
      <soap12:address location="net.tcp://localhost:5002/creationService/creation" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:5002/creationService/creation</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>