Hoggy/PresentationLayer/Connected Services/NotificationService/NotificationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotificationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="notificationPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5001/notificationService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5001/notificationService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5001/notificationService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotificationContract_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_UnSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribe" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_UnSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_OnBoardAdded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnBoardAdded" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_OnParticipantAdded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnParticipantAdded" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_OnColumnAdded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnColumnAdded" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_OnBoardTagAdded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnBoardTagAdded" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_OnCardTagAdded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCardTagAdded" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_OnHistoryEventAdded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnHistoryEventAdded" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_OnCardAdded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCardAdded" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_OnCardSubscribersAdded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCardSubscribersAdded" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_OnCardCommentAdded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCardCommentAdded" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_OnBoardDeleted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnBoardDeleted" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_OnColumnDeleted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnColumnDeleted" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_OnBoardTagDeleted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnBoardTagDeleted" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_OnCardDeleted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCardDeleted" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_OnCardTagDeleted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCardTagDeleted" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_OnCardEdited_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCardEdited" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_OnColumnEdited_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnColumnEdited" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_OnCardMoved_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCardMoved" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_OnIncomeInvitation_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnIncomeInvitation" />
  </wsdl:message>
  <wsdl:message name="INotificationContract_OnIncomeInvitation_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnIncomeInvitationResponse" />
  </wsdl:message>
  <wsdl:portType name="INotificationContract">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationContract/Subscribe" message="tns:INotificationContract_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationContract/SubscribeResponse" message="tns:INotificationContract_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationContract/UnSubscribe" message="tns:INotificationContract_UnSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationContract/UnSubscribeResponse" message="tns:INotificationContract_UnSubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnBoardAdded">
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationContract/OnBoardAdded" message="tns:INotificationContract_OnBoardAdded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnParticipantAdded">
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationContract/OnParticipantAdded" message="tns:INotificationContract_OnParticipantAdded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnColumnAdded">
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationContract/OnColumnAdded" message="tns:INotificationContract_OnColumnAdded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnBoardTagAdded">
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationContract/OnBoardTagAdded" message="tns:INotificationContract_OnBoardTagAdded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCardTagAdded">
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationContract/OnCardTagAdded" message="tns:INotificationContract_OnCardTagAdded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnHistoryEventAdded">
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationContract/OnHistoryEventAdded" message="tns:INotificationContract_OnHistoryEventAdded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCardAdded">
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationContract/OnCardAdded" message="tns:INotificationContract_OnCardAdded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCardSubscribersAdded">
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationContract/OnCardSubscribersAdded" message="tns:INotificationContract_OnCardSubscribersAdded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCardCommentAdded">
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationContract/OnCardCommentAdded" message="tns:INotificationContract_OnCardCommentAdded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnBoardDeleted">
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationContract/OnBoardDeleted" message="tns:INotificationContract_OnBoardDeleted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnColumnDeleted">
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationContract/OnColumnDeleted" message="tns:INotificationContract_OnColumnDeleted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnBoardTagDeleted">
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationContract/OnBoardTagDeleted" message="tns:INotificationContract_OnBoardTagDeleted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCardDeleted">
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationContract/OnCardDeleted" message="tns:INotificationContract_OnCardDeleted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCardTagDeleted">
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationContract/OnCardTagDeleted" message="tns:INotificationContract_OnCardTagDeleted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCardEdited">
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationContract/OnCardEdited" message="tns:INotificationContract_OnCardEdited_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnColumnEdited">
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationContract/OnColumnEdited" message="tns:INotificationContract_OnColumnEdited_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCardMoved">
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationContract/OnCardMoved" message="tns:INotificationContract_OnCardMoved_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnIncomeInvitation">
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationContract/OnIncomeInvitation" message="tns:INotificationContract_OnIncomeInvitation_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationContract/OnIncomeInvitationResponse" message="tns:INotificationContract_OnIncomeInvitation_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="notificationPoint" type="tns:INotificationContract">
    <wsp:PolicyReference URI="#notificationPoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/INotificationContract/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <soap12:operation soapAction="http://tempuri.org/INotificationContract/UnSubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnBoardAdded">
      <soap12:operation soapAction="http://tempuri.org/INotificationContract/OnBoardAdded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnParticipantAdded">
      <soap12:operation soapAction="http://tempuri.org/INotificationContract/OnParticipantAdded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnColumnAdded">
      <soap12:operation soapAction="http://tempuri.org/INotificationContract/OnColumnAdded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnBoardTagAdded">
      <soap12:operation soapAction="http://tempuri.org/INotificationContract/OnBoardTagAdded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCardTagAdded">
      <soap12:operation soapAction="http://tempuri.org/INotificationContract/OnCardTagAdded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnHistoryEventAdded">
      <soap12:operation soapAction="http://tempuri.org/INotificationContract/OnHistoryEventAdded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCardAdded">
      <soap12:operation soapAction="http://tempuri.org/INotificationContract/OnCardAdded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCardSubscribersAdded">
      <soap12:operation soapAction="http://tempuri.org/INotificationContract/OnCardSubscribersAdded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCardCommentAdded">
      <soap12:operation soapAction="http://tempuri.org/INotificationContract/OnCardCommentAdded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnBoardDeleted">
      <soap12:operation soapAction="http://tempuri.org/INotificationContract/OnBoardDeleted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnColumnDeleted">
      <soap12:operation soapAction="http://tempuri.org/INotificationContract/OnColumnDeleted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnBoardTagDeleted">
      <soap12:operation soapAction="http://tempuri.org/INotificationContract/OnBoardTagDeleted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCardDeleted">
      <soap12:operation soapAction="http://tempuri.org/INotificationContract/OnCardDeleted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCardTagDeleted">
      <soap12:operation soapAction="http://tempuri.org/INotificationContract/OnCardTagDeleted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCardEdited">
      <soap12:operation soapAction="http://tempuri.org/INotificationContract/OnCardEdited" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnColumnEdited">
      <soap12:operation soapAction="http://tempuri.org/INotificationContract/OnColumnEdited" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCardMoved">
      <soap12:operation soapAction="http://tempuri.org/INotificationContract/OnCardMoved" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnIncomeInvitation">
      <soap12:operation soapAction="http://tempuri.org/INotificationContract/OnIncomeInvitation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationService">
    <wsdl:port name="notificationPoint" binding="tns:notificationPoint">
      <soap12:address location="net.tcp://localhost:5002/notificationService/notification" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:5002/notificationService/notification</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>