Hoggy/TestConsoleClient/Connected Services/DataExchangeService/DataExchangeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataExchangeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="dataExchangePoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5001/dataExchangeService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5001/dataExchangeService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5001/dataExchangeService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataExchangeContract_GetBoards_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBoards" />
  </wsdl:message>
  <wsdl:message name="IDataExchangeContract_GetBoards_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBoardsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataExchangeContract_GetParticipatedBoards_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParticipatedBoards" />
  </wsdl:message>
  <wsdl:message name="IDataExchangeContract_GetParticipatedBoards_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParticipatedBoardsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataExchangeContract_GetParticipants_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParticipants" />
  </wsdl:message>
  <wsdl:message name="IDataExchangeContract_GetParticipants_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParticipantsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataExchangeContract_GetColumns_InputMessage">
    <wsdl:part name="parameters" element="tns:GetColumns" />
  </wsdl:message>
  <wsdl:message name="IDataExchangeContract_GetColumns_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetColumnsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataExchangeContract_GetHistoryEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryEvents" />
  </wsdl:message>
  <wsdl:message name="IDataExchangeContract_GetHistoryEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataExchangeContract_GetCards_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCards" />
  </wsdl:message>
  <wsdl:message name="IDataExchangeContract_GetCards_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataExchangeContract_GetCardSubscribers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardSubscribers" />
  </wsdl:message>
  <wsdl:message name="IDataExchangeContract_GetCardSubscribers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardSubscribersResponse" />
  </wsdl:message>
  <wsdl:message name="IDataExchangeContract_GetCardComments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardComments" />
  </wsdl:message>
  <wsdl:message name="IDataExchangeContract_GetCardComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardCommentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataExchangeContract">
    <wsdl:operation name="GetBoards">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataExchangeContract/GetBoards" message="tns:IDataExchangeContract_GetBoards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataExchangeContract/GetBoardsResponse" message="tns:IDataExchangeContract_GetBoards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParticipatedBoards">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataExchangeContract/GetParticipatedBoards" message="tns:IDataExchangeContract_GetParticipatedBoards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataExchangeContract/GetParticipatedBoardsResponse" message="tns:IDataExchangeContract_GetParticipatedBoards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParticipants">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataExchangeContract/GetParticipants" message="tns:IDataExchangeContract_GetParticipants_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataExchangeContract/GetParticipantsResponse" message="tns:IDataExchangeContract_GetParticipants_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetColumns">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataExchangeContract/GetColumns" message="tns:IDataExchangeContract_GetColumns_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataExchangeContract/GetColumnsResponse" message="tns:IDataExchangeContract_GetColumns_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoryEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataExchangeContract/GetHistoryEvents" message="tns:IDataExchangeContract_GetHistoryEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataExchangeContract/GetHistoryEventsResponse" message="tns:IDataExchangeContract_GetHistoryEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCards">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataExchangeContract/GetCards" message="tns:IDataExchangeContract_GetCards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataExchangeContract/GetCardsResponse" message="tns:IDataExchangeContract_GetCards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCardSubscribers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataExchangeContract/GetCardSubscribers" message="tns:IDataExchangeContract_GetCardSubscribers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataExchangeContract/GetCardSubscribersResponse" message="tns:IDataExchangeContract_GetCardSubscribers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCardComments">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataExchangeContract/GetCardComments" message="tns:IDataExchangeContract_GetCardComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataExchangeContract/GetCardCommentsResponse" message="tns:IDataExchangeContract_GetCardComments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="dataExchangePoint" type="tns:IDataExchangeContract">
    <wsp:PolicyReference URI="#dataExchangePoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetBoards">
      <soap12:operation soapAction="http://tempuri.org/IDataExchangeContract/GetBoards" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParticipatedBoards">
      <soap12:operation soapAction="http://tempuri.org/IDataExchangeContract/GetParticipatedBoards" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParticipants">
      <soap12:operation soapAction="http://tempuri.org/IDataExchangeContract/GetParticipants" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetColumns">
      <soap12:operation soapAction="http://tempuri.org/IDataExchangeContract/GetColumns" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryEvents">
      <soap12:operation soapAction="http://tempuri.org/IDataExchangeContract/GetHistoryEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCards">
      <soap12:operation soapAction="http://tempuri.org/IDataExchangeContract/GetCards" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardSubscribers">
      <soap12:operation soapAction="http://tempuri.org/IDataExchangeContract/GetCardSubscribers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardComments">
      <soap12:operation soapAction="http://tempuri.org/IDataExchangeContract/GetCardComments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataExchangeService">
    <wsdl:port name="dataExchangePoint" binding="tns:dataExchangePoint">
      <soap12:address location="net.tcp://localhost:5002/dataExchangeService/dataExchange" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:5002/dataExchangeService/dataExchange</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>