Hoggy/PresentationLayer/Connected Services/AuthenticationService/AuthenticationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthenticationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="authenticationPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5001/authenticationService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5001/authenticationService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5001/authenticationService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthenticationContract_CheckUserIsRegistered_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserIsRegistered" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationContract_CheckUserIsRegistered_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserIsRegisteredResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationContract_CheckPasswordIsCorrect_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPasswordIsCorrect" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationContract_CheckPasswordIsCorrect_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPasswordIsCorrectResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationContract_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationContract_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthenticationContract">
    <wsdl:operation name="CheckUserIsRegistered">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationContract/CheckUserIsRegistered" message="tns:IAuthenticationContract_CheckUserIsRegistered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationContract/CheckUserIsRegisteredResponse" message="tns:IAuthenticationContract_CheckUserIsRegistered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPasswordIsCorrect">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationContract/CheckPasswordIsCorrect" message="tns:IAuthenticationContract_CheckPasswordIsCorrect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationContract/CheckPasswordIsCorrectResponse" message="tns:IAuthenticationContract_CheckPasswordIsCorrect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationContract/Login" message="tns:IAuthenticationContract_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationContract/LoginResponse" message="tns:IAuthenticationContract_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="authenticationPoint" type="tns:IAuthenticationContract">
    <wsp:PolicyReference URI="#authenticationPoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CheckUserIsRegistered">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationContract/CheckUserIsRegistered" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPasswordIsCorrect">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationContract/CheckPasswordIsCorrect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationContract/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationService">
    <wsdl:port name="authenticationPoint" binding="tns:authenticationPoint">
      <soap12:address location="net.tcp://localhost:5002/authenticationService/authentication" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:5002/authenticationService/authentication</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>