Hoggy/PresentationLayer/Connected Services/DataExchangeService/dataExchangeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthenticationToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationToken" nillable="true" type="tns:AuthenticationToken" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="UserProfileDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfileDTO" nillable="true" type="tns:UserProfileDTO" />
  <xs:complexType name="ArrayOfBoardDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BoardDTO" nillable="true" type="tns:BoardDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBoardDTO" nillable="true" type="tns:ArrayOfBoardDTO" />
  <xs:complexType name="BoardDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BoardDTO" nillable="true" type="tns:BoardDTO" />
  <xs:complexType name="ArrayOfInvitationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvitationDTO" nillable="true" type="tns:InvitationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvitationDTO" nillable="true" type="tns:ArrayOfInvitationDTO" />
  <xs:complexType name="InvitationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderEmail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvitationDTO" nillable="true" type="tns:InvitationDTO" />
  <xs:complexType name="ArrayOfUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDTO" nillable="true" type="tns:UserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDTO" nillable="true" type="tns:ArrayOfUserDTO" />
  <xs:complexType name="ArrayOfColumnDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColumnDTO" nillable="true" type="tns:ColumnDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColumnDTO" nillable="true" type="tns:ArrayOfColumnDTO" />
  <xs:complexType name="ColumnDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColumnDTO" nillable="true" type="tns:ColumnDTO" />
  <xs:complexType name="ArrayOfTagDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagDTO" nillable="true" type="tns:TagDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagDTO" nillable="true" type="tns:ArrayOfTagDTO" />
  <xs:complexType name="TagDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagDTO" nillable="true" type="tns:TagDTO" />
  <xs:complexType name="ArrayOfHistoryEventDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HistoryEventDTO" nillable="true" type="tns:HistoryEventDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistoryEventDTO" nillable="true" type="tns:ArrayOfHistoryEventDTO" />
  <xs:complexType name="HistoryEventDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProducerLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoryEventDTO" nillable="true" type="tns:HistoryEventDTO" />
  <xs:complexType name="ArrayOfCardDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CardDTO" nillable="true" type="tns:CardDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCardDTO" nillable="true" type="tns:ArrayOfCardDTO" />
  <xs:complexType name="CardDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfCommentDTO" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tags" nillable="true" type="tns:ArrayOfTagDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardDTO" nillable="true" type="tns:CardDTO" />
  <xs:complexType name="ArrayOfCommentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommentDTO" nillable="true" type="tns:CommentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommentDTO" nillable="true" type="tns:ArrayOfCommentDTO" />
  <xs:complexType name="CommentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentDTO" nillable="true" type="tns:CommentDTO" />
</xs:schema>